# PROJECT SETTINGS
DOMAIN_NAME=fmesa-or.42.fr

# SQL SETUP
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=wordpress
SQL_USER=sql_user
SQL_PASS=42malaga

# WORDPRESS SETUP
WORDPRESS_DB_HOST=mariadb:3306
WP_ADMIN_USER=fmesa-or
WP_ADMIN_PASS=42malaga
WP_SECOND_USER=userB
WP_SECOND_PASS=userB